@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f161c;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
